body {
    font: 20px Montserrat, sans-serif;
    background: linear-gradient(to top, #003300 41%, #006699 100%);
    line-height: 1.8;
    color: white;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background: linear-gradient(to top left, #00cc66 41%, #006699 100%);
    /*background-color: #1abc9c; Green */
    /*color: black;
    background-image: url("../images/barley-field-1423349_1920.jpg");*/
}
.bg-2 { 
  background: linear-gradient(to top, #006699 41%, #00cc66 100%);
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.addBtn {
  cursor: pointer;
  background-color: #96c392;
  margin: 16px;
  padding: 16px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: linear-gradient(to top left, #00cc66 41%, #006699 100%);
    padding-top: 50px;
    color: grey;
    
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    color: grey;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    height:100%;
    color: black;
}
#id01{
    color:black;
    background: linear-gradient(to top left, #00cc66 41%, #006699 100%);
    /*background-image: linear-gradient(#448B0E, #BAEC94);*/
}
.navbar-default{
    background: linear-gradient(to top left, #00cc66 41%, #006699 100%);
}

/*slideshow*/
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    width:100%;
    background: linear-gradient(to top, #003300 41%, #006699 100%);
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  #eventbtn
  {
   background-color: #003300;
   margin:10px;
  }

  